<div class="col-lg-12" ng-repeat="problem in paginationContents">    
  <div class="well">
  <p ng-bind-html="problem.problem | prettyHtml" editable-textarea="problem.problem" e-form="textEditableButtonForm" onbeforesave="updateProblem({problem: $data, id: problem.id})" e-rows="7" e-cols="100">
      
    </p>
    <div class="panel-body">
      <div class="col-sm-12 col-lg-3">
      <a href="#/programmers/solutions/{{problem.solution_id}}/problems/{{problem.id}}/answers">Available Answers</a>
      </div>
      <div class="col-sm-12 col-lg-3">
       <!--  Creted At [{{problem.created_at}}] -->
      </div>
      <div class="col-sm-12 col-lg-3 text-right period">
        <!-- Created By [<em><a href="#/profile/users/{{problem.id}}">Snmmaurya {{currentUser.id}} | {{problem.user_id}}</a></em>] -->
      </div>
      <div class="col-sm-12 col-lg-3 text-right period" ng-show="currentUser.id==problem.user_id">
        <button class="btn btn-default" ng-click="textEditableButtonForm.$show()" ng-hide="textEditableButtonForm.$visible">
          edit
        </button>
      </div>
    </div>
  </div>
</div>