<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Appointment
           <small>Update Appointment</small>
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Appointment Content -->
<div class="row">
  <%= form_for([:hospitals, @appointment]) do |form| %>
    <%= render partial: "shared/error_messages", locals: {error: @appointment}  %>    
    <div class="control-group form-group">
      <%= render partial: "form", locals: {form: form, buttons: link_to(:Show, hospitals_appointment_path(@appointment), class: "btn btn-default")} %>      
    </div>
  <% end %>
</div>