<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           About Me
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
	<div class="col-sm-7">
		<h3>Employment</h3>
		<h5 ng-repeat-start="employment in response.employments">{{employment.role}} - {{employment.company}}({{ employment.joined_at | date: "MMM yyyy"}} - {{employment.leaved_at | date: "MMM yyyy"}})</h5>
		{{employment.description}}
		<hr ng-repeat-end>

	<h3>Education</h3>
	<h5 ng-repeat-start="education in response.educations">{{education.title}} - {{education.school}}({{ education.started_at | date: "MMM yyyy"}} - {{education.completed_at | date: "MMM yyyy"}})</h5>
		{{education.description}}
		<hr ng-repeat-end>
	</div>


	<div class="col-sm-5">
		<h3>Web Development</h3>       
		<div ng-repeat="development in response.developments | filter:dev_type='WEB'">
		{{development.title}}
		</div>


		<h3>Mobile Development</h3>   
		<div ng-repeat="development in response.developments | filter:dev_type='MOBILE'">
		{{development.title}}
		</div>

		<h3>Web Technologies</h3>   
		<div ng-repeat="technology in response.technologies | filter:dev_type='WEB'">
		{{technology.title}}
		</div>    

		<h3>APIS</h3> 
		<div ng-repeat="api in response.apis | orderBy:created_at">
		{{api.title}}
		</div>

		<h3>Other Technologies</h3> 
		<div ng-repeat="technology in response.technologies | filter:dev_type='OTHER'">
		{{technology.title}}
		</div>
	</div>
</div>

<hr class="ng-scope">

<div class="row ng-scope">
	<div class="col-sm-12">
		<div class="col-sm-6">		
			<h3>Testimonials</h3>
		</div>
		
	</div>

	<div class="col-sm-12">
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
				<% if @profile.present? %>
					<%= image_tag @profile.image.url, size: "50x50" %>
				<% else %>
					<%= image_tag default_image, size: "50x50" %>
				<% end %>
				</div>
				<div class="col-sm-8">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
					<h5><i>Er. Sandeep Maurya</i></h5>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<% if @profile.present? %>
					<%= image_tag @profile.image.url, size: "50x50" %>
					<% else %>
						<%= image_tag default_image, size: "50x50" %>
					<% end %>
				</div>
				<div class="col-sm-8">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
					<h5><i>Er. Sandeep Maurya</i></h5>
				</div>
			</div>
		</div>
	</div>
</div>
