<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Welcome at My Site!
            <!-- Welcome to Ocean of Solutions -->
            <!-- <small>About Me !</small> -->
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
    <div class="col-md-4">
        <img src="{{snmmaurya.image_url}}" height="450" width="750" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h2><!--About Solutions Ocean-->About {{snmmaurya.fname}} {{snmmaurya.lname}}</h2>
        <p>{{snmmaurya.about_yourself}}</p>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="pull-center">Personal Information</h3>
  </div>
  <div class="col-sm-6">
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Name</label></div>
          <div class="col-sm-9">{{snmmaurya.fname}} {{snmmaurya.lname}}</div>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Email</label></div>
          <div class="col-sm-9">{{snmmaurya.email}}</div>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Contact</label></div>
          <div class="col-sm-9">{{snmmaurya.contact}}</div>
      </div>
  </div>


  <div class="col-sm-6">
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Date Of birth</label></div>
          <div class="col-sm-9">{{snmmaurya.date_of_birth}}</div>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Address</label></div>
          <div class="col-sm-9">{{snmmaurya.address}}</div>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3"><label>Website</label></div>
          <div class="col-sm-9"><a href="{{snmmaurya.web_site}}">{{snmmaurya.web_site}}</a></div>
      </div>
  </div>
</div>
<!-- /.row -->




<!-- https://www.youtube.com/watch?v=vMjR8Op23K4 -->