<%= form_for answer, url: programmers_solution_problem_answer_path(solution, problem, answer), html: {id: :answerForm}, method: :put, remote: true do |form| %>
  <!-- For success/fail messages -->
  <div id="success"><%= render partial: "shared/error_messages", locals: {error: answer} %></div>
  <div class="control-group form-group">
      <div class="controls">
          <label>Descibe Your answer:</label>
          <%= form.text_area :answer, class: "form-control", required: true, placeholder: "answer !", maxlength: 500 %>_path
          <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
  </div>  
  <button type="submit" class="btn btn-primary">Submit answer</button>
<% end %>