<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Snm Maurya</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-init="selectedMenu = 'home'" ng-controller="sessionsController">
          <li ng-class="{'active':selectedMenu === 'home'}" ng-click="selectedMenu = 'home'">
            <a ng-href="#/">Home</a>
          </li>
          <li ng-class="{'active':selectedMenu === 'about'}" ng-click="selectedMenu = 'about'">
            <a ng-href="#/about" ng-click="">About</a>
          </li>
          <li ng-class="{'active':selectedMenu === 'solutions'}" ng-click="selectedMenu = 'solutions'">
            <a ng-href="#/programmers/solutions">Solutions</a>
          </li>
          <li ng-class="{'active':selectedMenu === 'studies'}" ng-click="selectedMenu = 'studies'">
            <a ng-href="#/studies/books">Studies</a>
          </li>
          <li ng-class="{'active':selectedMenu === 'contact'}" ng-click="selectedMenu = 'contact'">
            <a ng-href="#/contact">Contact</a>
          </li>
          
          <li ng-class="{'active':selectedMenu === 'portfolios'}" ng-click="selectedMenu = 'portfolios'">
            <a ng-href="#/portfolios">Portfolio</a>
          </li>

          <li class="dropdown" ng-class="{'active':selectedMenu === 'movies' || selectedMenu === 'lives' || selectedMenu === 'liveCruds'}">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                Others<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">                    
                    <li ng-class="{'active':selectedMenu === 'movies'}" ng-click="selectedMenu = 'movies'">
                      <a ng-href="#/movies">Movies</a>
                    </li>
                    <li ng-class="{'active':selectedMenu === 'liveCruds'}" ng-click="selectedMenu = 'liveCruds'">
                      <a ng-href="#/livecruds">Live Cruds</a>
                    </li>

                    <li ng-class="{'active':selectedMenu === 'lives'}" ng-click="selectedMenu = 'lives'">
                      <a ng-href="#lives">Lives</a>                             
                    </li>
                                  
                </ul>
            </li>

            <li class="dropdown" ng-show="isAuthenticated"  ng-controller="menuController">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                {{currentUser.username}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">                    
                    <li ng-class="{'active':selectedMenu === 'profile'}" ng-click="selectedMenu = 'profile'">
                      <a href="#/profile/users/{{currentUser.id}}">Profile</a>
                    </li>
                    <li>
                      <a href="#" ng-click="signOut()">Sign out</a>
                    </li>                   
                </ul>
            </li>
            <li ng-class="{'active':selectedMenu === 'signup'}" ng-click="selectedMenu = 'signup'" ng-hide="isAuthenticated">
              <a ng-href="#/signup">Signup</a>
            </li>
            <li ng-class="{'active':selectedMenu === 'signin'}" ng-click="selectedMenu = 'signin'" ng-hide="isAuthenticated">
              <a herf="javascript: void(0)" ng-click="open({size: '', templateUrl: 'signinModel', data: ''})">Signin</a>
              <!-- <a href="javascript: void(0);" ng-click="open({size: '', templateUrl: 'portfolioModel', data: portfolio})"> -->
            </li>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>