<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Portfolio
           <small><%= @portfolio.title %></small>
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">
  <div class="col-md-8">
      <%= image_tag(@portfolio.image, size: "700x400", alt: @portfolio.title, class: "img-responsive") %>
  </div>

  <div class="col-md-4">
      <h3>Project Description</h3>
      <p><%= @portfolio.description %></p>
      <h3>Project Tools</h3>
      <ul>
          <% tools = @portfolio.try(:tools).split(";") %>
          <% tools.each do |tool| %>
            <li><%= tool %></li>
          <% end %>
      </ul>
      <h3>Project url</h3>
      <ul>
        <li><%= link_to @portfolio.url, @portfolio.url, target: "_blnk" %></li>
      </ul>
  </div>
<%= link_to "Go Back", portfolios_path, class: "btn btn-default pull-right" %>
</div>
<!-- /.row -->