<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Books
            <small>All Books</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<div class="row" data-ng-controller="booksController">
    <div class="col-md-4 text-center" ng-repeat="book in response">
        <div class="thumbnail">
        <a href="#/studies/books/{{book.id}}/lessions">
          <img src="{{book.image.url}}" size="700x400" alt="{{book.title}}" class="img-responsive">
        </a>
        <div class="caption">
          <h3>
            <a href="#/studies/books/{{book.id}}/lessions">
              {{book.title}}
            </a>
          </h3>
          <p  ng-bind-html="book.description | limitText | prettyHtml"></p>
        </div>
        </div>      
    </div>  
</div>