<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Education
           <small>New Education</small>
        </h1>                
    </div>
</div>
<!-- /.row -->

<!-- Education Content -->
<div class="row">
  <%= form_for([:administrator, @education]) do |form| %>
    <%= render partial: "shared/error_messages", locals: {error: @education}  %>    
    <div class="control-group form-group">
      <%= render partial: "form", locals: {form: form} %>
    </div>
  <% end %>
</div>